.list {
	align-self: auto;
	border: 1px solid black;
	padding: 10px 10px 45px 10px;
	background: lightgray;
	width: 220px;
	margin: 10px;
	position: relative;
}

.list:nth-child(1) {
	margin: 10px 10px 10px 0;
}

/* Drag drop element style */
.list > span {
	display: block;
	height: 100%;
}

.list > .cssload-loader {
	height: 200px;
}


.list button {
	position: absolute;
	bottom: 10px;
	left: 10px;
}