.list {
	align-self: auto;
	border: 1px solid black;
	padding: 5px;
	background: lightgray;
	width: 220px;
	min-height: 100px;
	margin: 10px;
}

.list:nth-child(1) {
	margin: 10px 10px 10px 0;
}

/* Drag drop element style */
.list > span {
	display: block;
	min-height: 100px;
}

.list > .cssload-loader {
	height: 200px;
}