.create_task {
	width: 800px;
	min-height: 300px;
}

.create_task_form {
	margin: 20px 0;
	float: left;
	width: calc(100% - 260px);
}

.create_task_sidebar {
	margin: 20px 0;
	float: right;
	width: 250px;
}


.create_task_sidebar_item {
	min-height: 100px;
	margin: 20px 0;
}