.task {
	background: white;
	padding: 5px;
	margin: 5px 0;
	cursor: move;
	width: 198px;
	height: 198px;
	border: 1px solid lightgray;
}

.task_title {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 10px 10px 0;
}

.task_delete_button {
	float: right;
	margin: 10px 0 0 0;
}