.task {
	background: white;
	padding: 5px 5px 45px 5px;
	margin: 5px 0;
	cursor: move;
	width: 208px;
	border: 1px solid lightgray;
	position: relative;
}

.task > .cssload-loader {
	width: 50px;
	height: 50px;
}

.task_title {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 10px 10px 0;
}


.task_dialog {
	font-size: 10px;
	cursor: pointer;
}

.task_created_time {
	font-size: 10px;
}

.task_delete_button {
	position: absolute;
	bottom: 5px;
	right: 5px;
}


.task_edit {
	font-size: 23px;
	position: absolute;
	top: 7px;
	right: 7px;
	padding: 7px 5px;
	cursor: pointer;
	z-index: 2;
}

.task_edit:hover {
	background: white;
}