.board {
	margin: 20px 0;
	padding: 20px;
}

.board h1 {
	font-weight: bold;
	font-size: 25px;
	margin: 20px 0;
}


.boards_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}


.boards_list_item {
	width: 300px;
	min-height: 80px;
	background: lightgray;
	margin: 10px 0;
	padding: 10px 10px 14px 10px;
	position: relative;
}

.boards_list_item > a {
	font-size: 16px;
	margin-bottom: 10px;
}

.boards_list_item > p {
	font-size: 12px;
}


.boards_list_item > .cssload-loader {
	height: 100px;
}


.boards_list_item_progress {
	transition: width 0.5s;
	height: 3px;
	background: #25ad25;
	position: absolute;
	bottom: 0;
	left: 0;
}


.board_lists {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}