.board h1 {
	font-weight: bold;
	font-size: 25px;
	margin: 20px 0;
}

.board_lists {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}