.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Sathu;
	font-size: 14px;
	line-height: 120%;
}


#root {
	height: 100%;
}


a {
	color: cornflowerblue;
	display: block;
}

a:hover {
	opacity: 0.7;
}


button {
	height: 25px;
	outline: none;
	padding: 5px 20px;
	border: 1px solid lightgray;
	cursor: pointer;
	transition: 0.5s background;
	background: black;
	color: white;
}

button:disabled {
	background: white;
	color: lightgray;
	border: 1px solid lightgray;
	cursor: not-allowed;
}

button:disabled:hover {
	color: lightgray;
}

button:hover {
	background: white;
	color: black;
}


input,
textarea,
.input {
	border: none;
	background-color: lightgray !important;
	outline: none;
	padding: 5px;
	transition: 0.5s background;
	border-bottom: 1px solid lightgray;
	display: block;
	font-size: 12px;
	min-width: 210px;
	line-height: 20px;
}

textarea {
	min-height: 100px;
}

textarea:focus,
input:focus {
	background-color: white !important;
}


h3 {
	font-size: 20px;
	margin: 0 0 20px 0;
	font-weight: bold;
}