.breadcrumbs {
	padding: 5px 10px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 50px;
}

.breadcrumbs > li {
	display: inline-block;
	margin: 5px;
	padding: 1px;
}

.breadcrumbs > li a {
	display: inline-block;
}