.main-menu {
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 0 0 15px;
	background: lightgray;
}

.main-menu > * {
	line-height: 60px;
	margin: 0 10px;
}

.main-menu > a,
.main-menu > span {
	color: #da301d;
}