.profile {

}

.profile input {
	width: calc(100% - 10px);
}

.profile .input {
	max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
}

.profile_cards {
	display: flex;
	background: lightgray;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.profile_card {
	padding: 20px;
	background: white;
	min-width: 300px;
	flex-direction: row;
	margin: 10px;
}