.comments {
	height: 200px;
	width: 300px;
	overflow: auto;
}

.comment {
	padding: 5px;
	margin: 10px 0;
	background: white;
}

.comment .user_icon {
	margin-bottom: 5px;
}

.comment > .cssload-loader {
	width: 30px;
	height: 30px;
}

.comment_created_at {
	font-size: 9px;
}

.comment_controller {
	cursor: pointer;
	font-size: 12px;
	margin: 5px 10px 5px 0;
	color: grey;
	text-decoration: underline;
	float: left;
}

.comment_controller:hover {
	text-decoration: none;
	opacity: 0.7;
}


.comment_text {
	float: left;
	width: calc(100% - 50px);
}

.comment .comment_edit_textarea {
	font-size: inherit;
	background-color: transparent !important;
	border: none;
	margin: 0;
	padding: 0;
	line-height: 120%;
	font-family: Sathu;
	width: calc(100% - 50px);
	text-indent: 0;
	min-height: auto;
}